/*
  font-weight: 300;
  font-weight: 400;
  font-weight: 700;
  font-style: normal;
  font-style: italic;
*/

:root {
  --primary-color: #4074c8;
  --secondary-color: #d3d8f4;
  --accent1-color: #eb9921;
  --accent2-color: #a499c3;
  --accent3-color: #7ab3e5;
  --accent4-color: #bb4f3b;
  --accent5-color: #e5c195;
  --accent6-color: #41e1fa;
  --text-color: #0943a1;
  --header-footer-text-color: #dde2eb;
  --burger-color: #010f25;
  --white-color: #ffffff;
  --card-border-color: #010f25;
  --calendar-background-color: #a499c3;
  --calendar-date-hover-color: #505050;
  --calendar-today-color: #eb9921;

  --border-radius: 5px;
  --card-border-radius: 16px;
  --img-border-radius-round: 50%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: var(--text-color);
  background-color: var(--primary-color);
  text-align: center;
  min-height: 100%;
}
/* Header */
header {
  display: flex;
  background-color: var(--primary-color);
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  color: var(--header-footer-text-color);
}
picture img {
  border-radius: var(--border-radius);
  height: 100%;
}
.logo-header img {
  border-radius: var(--img-border-radius-round);
}
.brand-header img {
  border: 2px solid var(--burger-color);
}

/* Burger */
#menu-button {
  display: none;
  width: 44px;
  height: 44px;
  border: 0;
  background: none;
  color: var(--burger-color);
  position: absolute;
  top: 1rem;
  right: 2.2rem;
}
#menu-button span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--burger-color);
  left: 5px;
  transition: transform 0.5s, opacity 0.1s;
}
.span1 {
  transform: translateY(-10px);
}
.span3 {
  transform: translateY(10px);
}
#menu-button.open .span1 {
  transform: translateY(0) rotate(-45deg);
}
#menu-button.open .span2 {
  transform: scale(0);
}
#menu-button.open .span3 {
  transform: translateY(0) rotate(45deg);
}
.main-nav li a.active {
  border: 2px solid var(--burger-color);
  padding: 10px;
  border-radius: var(--border-radius);
}
.main-nav,
.main-nav.open {
  display: flex;
  justify-content: space-around;
  background-color: var(--primary-color);
  list-style-type: none;
  margin: 0px;
  padding: 16px;
  color: var(--header-footer-text-color);
}
.main-nav a {
  color: var(--white);
  text-decoration: none;
}
.main-nav a:hover {
  color: var(--nav-hover);
}
/* Index - Hero */
.hero-calendar-container {
  background-color: var(--secondary-color);
}
.hero-calendar-container img {
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
}
/* Index - Weather */
.weather-section {
  background-color: var(--secondary-color);
  padding: 16px;
}
.weather-section-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}
.weather-section-card {
  padding: 16px 50px;
  min-height: 400px;
  min-width: 365px;
  background-color: var(--accent5-color);
  border: 2px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  box-sizing: border-box;
}
.weather-section-card p {
  text-align: left;
  margin-top: 0;
}
.info-current-weather {
  display: flex;
  align-items: center;
}
.info-weather-other,
.info-weather-forecast,
.info-weather-forecast,
.info-weather-currency {
  display: grid;
  justify-content: center;
}
.info-weather-currency img {
  margin-bottom: -4px;
}
/* Index - About Us */
.about-section {
  display: grid;
  justify-content: center;
  padding: 32px;
  background-color: var(--secondary-color);
}
.about-section-container {
  display: flex;
  align-items: center;
}
.about-section-title {
  margin-top: 0;
}
.about-section-text {
  border-radius: var(--card-border-radius);
  padding: 32px;
  background-color: var(--accent5-color);
  max-width: 500px;
  margin-right: -250px;
  z-index: 1;
}
.about-section-picture img {
  border-radius: var(--card-border-radius);
  border: 8px solid var(--accent1-color);
}
/* Boards - Boards */
.boards-section {
  padding-block: 32px;
  background-color: var(--secondary-color);
}
.boards-section-title {
  margin-top: 0;
}
.boards-section-nav {
  margin-block: 16px;
}
.nav-item {
  padding: 8px;
  border-radius: var(--border-radius);
  border: 2px solid var(--card-border-color);
  background-color: var(--accent5-color);
  cursor: pointer;
}
.nav-item:active {
  background-color: var(--accent1-color);
  border: 5px solid var(--card-border-color);
}
.nav-item.current {
  background-color: var(--accent1-color);
  border: 3px solid var(--card-border-color);
}
.boards-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  min-height: 1100px;
}
.board-card {
  padding: 16px;
  border: 3px solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  background-color: var(--white-color);
}
.board-card-info {
  display: flex;
}
.board-card-info-details {
  text-align: start;
  width: 300px;
}
/* Book */

/* Booking - Form */
form {
  display: grid;
  margin: 1rem 2%;
  text-align: left;
}
form label {
  display: block;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}
form h3 {
  font-size: 0.9rem;
  color: var(--black);
  margin: 1.5rem 0 0.2rem 0;
  border-bottom: 1px solid #eee;
}

form input[type="text"],
form input[type="tel"],
form input[type="date"],
form input[type="email"],
form select {
  display: block;
  margin: 0.1rem 0 1rem 0;
  padding: 0.3rem;
  border: 1px solid var(--card-border);
  border-radius: 4px;
  border-left-width: 5px;
  border-left-color: var(--nav-color);
  font-size: 1rem;
  color: var(--join-buttons);
  width: 300px;
}
form textarea {
  border-radius: 4px;
  border: 1px solid var(--card-border);
  width: calc(100% - 30px);
}
form textarea:focus {
  outline: none;
}
form input[type="radio"] {
  margin: 0.3rem;
}

form input:required {
  border-left-color: var(--required);
}
form input:focus {
  border-left-color: var(--focus);
  outline: none;
}
form input:required:valid {
  border-left-color: var(--valid);
}

form input[type="submit"] {
  align-self: center;
  border: none;
  text-align: center;
  background-color: var(--card-border);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 1.5rem;
  font-size: 1.2rem;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--header-footer-text-color);
  padding: 16px;
  font-weight: 300;
}
.social-footer {
  align-self: center;
}
.brand-footer {
  border-radius: var(--border-radius);
  margin-bottom: -6px;
}
footer a {
   text-decoration: none;
   color: inherit;
}

/* Calendar */
.index-calendar-container {
  position: absolute;
  top: 300px;
  right: 100px;
}
.boards-calendar-container {
  position: absolute;
  top: 300px;
  left: 100px;
}
.calendar {
  background: var(--calendar-background-color);
  overflow: hidden;
  border: 1px solid var(--card-border-color);
  border-radius: 16px;
  box-shadow: 5px 5px 15px var(--calendar-date-hover-color);
}
.calendar-inner {
  padding: 10px 10px;
}
.calendar .calendar-inner .calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}
.calendar .calendar-inner .calendar-body div {
  padding: 4px;
  min-height: 30px;
  line-height: 30px;
  border: 1px solid transparent;
  margin: 10px 2px 0px;
}
.calendar .calendar-inner .calendar-body div:nth-child(-n + 7) {
  border-bottom: 1px solid var(--card-border-color);
}
.calendar .calendar-inner .calendar-body div > a {
  color: var(--black);
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.calendar .calendar-inner .calendar-body div:hover {
  border: 1px solid var(--calendar-date-hover-color);
  border-radius: 4px;
}
.calendar .calendar-inner .calendar-body div.empty-dates:hover {
  border: 1px solid transparent;
}
.calendar .calendar-inner .calendar-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.calendar .calendar-inner .calendar-today-date {
  display: grid;
  text-align: center;
  cursor: pointer;
  margin: 3px 0px;
  padding: 8px 0px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}
.calendar .calendar-inner .calendar-controls .calendar-year-month {
  display: flex;
  min-width: 100px;
  justify-content: space-evenly;
  align-items: center;
}

.calendar .calendar-inner .calendar-controls .calendar-next {
  text-align: right;
}

.calendar .calendar-inner .calendar-body .calendar-today {
  background: var(--calendar-today-color);
  border-radius: 4px;
}
.calendar .calendar-inner .calendar-body .calendar-today a{
  color: var(--white);
}

.calendar .calendar-inner .calendar-body .calendar-today:hover {
  border: 1px solid transparent;
}
.calendar .calendar-inner .calendar-controls .calendar-next a,
.calendar .calendar-inner .calendar-controls .calendar-prev a {
  color: var(--black);
  text-decoration: none;
  padding: 4px 12px;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.calendar .calendar-inner .calendar-controls .calendar-next a svg,
.calendar .calendar-inner .calendar-controls .calendar-prev a svg {
  height: 20px;
  width: 20px;
}

.calendar .calendar-inner .calendar-body .prev-dates:hover,
.calendar .calendar-inner .calendar-body .next-dates:hover {
  cursor: pointer;
}
