@media (max-width: 1600px) {
  .calendar {
    transform: scale(0.95);
    transform-origin: top left;
  }
}
@media (max-width: 1340px) {
  .calendar {
    transform: scale(0.85);
    transform-origin: top left;
  }
  .index-calendar-container {
    right: 0px;
  }
}
@media (min-width: 1000px) and (max-width: 1200px) {
  .calendar {
    transform: scale(0.7);
    transform-origin: top left;
  }
  .index-calendar-container {
    right: -80px;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .calendar {
    transform: scale(0.6);
    transform-origin: top left;
  }
  .index-calendar-container {
    right: -130px;
  }
}
@media (max-width: 900px) {
  header {
    display: flex;
    align-items: end;
  }
  .brand-header {
    display: none;
  }
  .calendar {
    display: none;
  }
  .weather-section-container {
    display: grid;
  }

  /* Burger */
  #menu-button {
    display: block;
  }
  .main-nav {
    flex-direction: column;
  }
  .main-nav li a {
    display: block;
    padding: 0.5rem 2vw;
  }
  ul.main-nav {
    padding: 0px;
  }
  nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }
  nav ul {
    overflow: hidden;
  }
  nav.open {
    grid-template-rows: 1fr;
  }
  /* Footer */
  footer {
    display: block;
  }
  .social {
    margin: 16px 0 16px 0;
  }
}
