@media (max-width: 800px) {
  

  /* Burger */
  #menu-button {
    display: block;
  }
  .main-nav {
    flex-direction: column;
  }
  .main-nav li a {
    display: block;
    padding: 0.5rem 2vw;
  }
  ul.main-nav {
    padding: 0px;
  } 
  nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }
  nav ul {
    overflow: hidden;
  }
  nav.open {
    grid-template-rows: 1fr;
  }
}
