:root {
  --white: rgb(255, 255, 255);
  --light-blue: rgb(160, 185, 238);
  --nav-color: rgb(62, 78, 105);
  --nav-hover: rgb(232, 206, 57);
  --blue: rgb(0, 66, 120);
  --black: rgb(0, 0, 0);
  --completed-color: rgb(165, 42, 42);
  --uncompleted-color: rgb(61, 58, 83);
}

html {
  height: 100%;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  color: var(--black);
  text-align: center;
  min-height: 100%;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  padding-top: 50px;
  background-color: var(--nav-color);
  align-items: end;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
h1,
p {
  margin: 0;
  margin-inline-start: 16px;
}
.day-night {
  align-self: center;
}

/* Main-nav */
.main-nav {
  display: flex;
  margin: 0;
  min-height: 50px;
  padding-inline: 15%;
  justify-content: end;
  background-color: var(--nav-color);
  list-style-type: none;
}
.main-nav a {
  padding-inline: 20px;
  text-decoration: none;
  color: var(--black);
}

/* Burger */
#menu-button {
  display: none;
  width: 44px;
  height: 44px;
  border: 0;
  background: none;
  color: var(--black);
  position: absolute;
  top: 1rem;
  right: 1.2rem;
}
#menu-button span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--black);
  left: 5px;
  transition: transform 0.5s, opacity 0.1s;
}
.span1 {
  transform: translateY(-10px);
}
.span3 {
  transform: translateY(10px);
}
#menu-button.open .span1 {
  transform: translateY(0) rotate(-45deg);
}
#menu-button.open .span2 {
  transform: scale(0);
}
#menu-button.open .span3 {
  transform: translateY(0) rotate(45deg);
}

/* Hero */
.hero-img-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Footer */
footer {
  display: flex;
padding-block: 16px;
  justify-content: space-around;
}