:root {
  --white: rgb(255, 255, 255);
  --light-blue: rgb(160, 185, 238);
  --nav-color: rgb(141, 153, 173);
  --current-nav-item: rgba(255, 255, 255, 0.2);
  --blue: rgb(0, 66, 120);
  --black: rgb(0, 0, 0);
  --card-border: rgb(109, 109, 109);
  --icon-background: rgba(207, 207, 207, 0.9);
  --join-buttons: rgb(93, 95, 116);
  --required: rgb(247, 43, 43);
  --focus: rgb(37, 37, 37);
  --valid: rgb(0, 194, 0);
}

html {
  height: 100%;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  color: var(--black);
  text-align: center;
  min-height: 100%;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding-inline: 5%;
  padding-top: 50px;
  background-color: var(--nav-color);
  align-items: end;
}
.logo-title-container {
  display: flex;
  align-items: center;
}
p {
  margin: 0;
}
#header-h1,
#header-p {
  margin: 0;
  margin-inline-start: 16px;
}
.day-night {
  align-self: center;
}

/* Main-nav */
.main-nav {
  display: flex;
  margin: 0;
  min-height: 50px;
  padding-inline: 15%;
  justify-content: end;
  background-color: var(--nav-color);
  list-style-type: none;
}
.main-nav a {
  padding-inline: 20px;
  text-decoration: none;
  color: var(--black);
}
.active {
  background-color: var(--current-nav-item);
  border-radius: 40%;
}

/* Burger */
#menu-button {
  display: none;
  width: 44px;
  height: 44px;
  border: 0;
  background: none;
  color: var(--black);
  position: absolute;
  top: 3.4rem;
  right: 1.2rem;
}
#menu-button span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: var(--black);
  left: 5px;
  transition: transform 0.5s, opacity 0.1s;
}
.span1 {
  transform: translateY(-10px);
}
.span3 {
  transform: translateY(10px);
}
#menu-button.open .span1 {
  transform: translateY(0) rotate(-45deg);
}
#menu-button.open .span2 {
  transform: scale(0);
}
#menu-button.open .span3 {
  transform: translateY(0) rotate(45deg);
}

/* Hero */
.hero-img-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

/* Events and Weather */
.cards {
  display: flex;
  gap: 1%;
  margin: 0 16px 0 16px;
}
.card {
  box-shadow: 2px 2px 10px var(--black);
  flex: 1;
  padding-bottom: 16px;
}
.card h3 {
  background-color: var(--nav-color);
  margin-top: 0;
}
.card.card-events {
  flex: 0 0 50%;
}
.card:not(.card-events) {
  flex: 0 0 24%;
}

.info-current-weather {
  display: flex;
  justify-content: space-around;
}
.info-weather-forecast {
  display: block;
}
#current-temp p,
#current-desc,
#temp-max p,
#temp-min p,
#sunrise,
#sunset {
  text-align: start;
}
#weather-icon {
  background-color: var(--icon-background);
  border-radius: 25px;
  align-self: center;
}

/* Business Members */
.display-menu {
  margin: 30px;
}
.members {
  padding: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  align-items: center;
}
.grid .member-card {
  box-shadow: 2px 2px 10px var(--black);
  flex: 1;
  padding-bottom: 16px;
}
.list {
  display: flex;
  flex-direction: column;
}
.list section div img {
  display: none;
}
.list section {
  display: flex;
  justify-content: space-around;
}
.list hr {
  display: none;
}
.list > section:nth-child(even) {
  background-color: var(--light-blue);
}
.list p {
  align-content: center;
}
.list .member-card h3,
.list .member-card p,
.list .member-card div {
  width: 100%;
  box-sizing: border-box;
}

/* Join Form*/
.join-container {
  display: flex;
  justify-content: space-around;
  gap: 1%;
  margin: 0 16px 0 16px;
}
.form-section,
.membership-section {
  width: clamp(300px, 100vw, 500px);
  padding: 16px;
  border: 1px solid var(--card-border);
  border-radius: 10px;
}
form {
  display: grid;
  margin: 1rem 2%;
  text-align: left;

  label {
    display: block;
    font-size: 0.8rem;
    padding-top: 0.2rem;
  }
  h3 {
    font-size: 0.9rem;
    color: #e07a5f;
    margin: 1.5rem 0 0.2rem 0;
    border-bottom: 1px solid #eee;
  }

  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="email"],
  select {
    display: block;
    margin: 0.1rem 0 1rem 0;
    padding: 0.3rem;
    border: 1px solid var(--card-border);
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: var(--nav-color);
    font-size: 1rem;
    color: var(--join-buttons);
    width: 300px;
  }
  textarea {
    border-radius: 4px;
    border: 1px solid var(--card-border);
    width: calc(100% - 30px);
  }
  textarea:focus {
    outline: none;
  }
  input[type="radio"] {
    margin: 0.3rem;    
  }

  input:required {
    border-left-color: var(--required);
  }
  input:focus {
    border-left-color: var(--focus);
    outline: none;
  }
  input:required:valid {
    border-left-color: var(--valid);
  }

  input[type="submit"] {
    align-self: center;
    border: none;
    text-align: center;
    background-color: rgb(93, 95, 116);
    color: var(--white);
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 1.5rem;
    font-size: 1.2rem;
  }
}

/* Join Membership*/
.membership {
  margin: 24px;
  padding: 24px;
  border-radius: 0 1rem;
  background-color: var(--light-blue);
}

/* ThankYou*/
.container {
  display: flex;
  justify-content: center;
}
#result {
  padding: 5%;
  border: 1px solid var(--card-border);
  border-radius: 1rem;
  text-align: left;
  width: 50%;
}

/* Footer */
footer {
  display: flex;
  padding: 16px 0 16px 0;
  margin-top: 16px;
  justify-content: space-around;
  background-color: var(--nav-color);
}
.social {
  align-self: center;
}
