:root {
  --white: rgb(255, 255, 255);
  --light-blue: rgb(160, 185, 238);
  --nav-color: rgb(62, 78, 105);
  --nav-hover: rgb(232, 206, 57);
  --blue: rgb(0, 66, 120);
  --black: rgb(0, 0, 0);
  --brown: rgb(165, 42, 42);
}

html {
  height: 100%;
}

body {
  font-family: "Inclusive Sans", Helvetica, sans-serif;
  color: var(--black);
  text-align: center;
  min-height: 100%;
}

main {
  padding: 1%;
}

header {
  display: flex;
  background-color: var(--light-blue);
  padding: 16px;
  justify-content: center;
  align-items: center;
}

/* Burger */
#menu {
  display: none;
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: var(--black);
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

picture {
  margin-inline: 20px;
}

picture img {
  box-shadow: 2px 2px 10px var(--black);
  border-radius: 5px;
}
.main-nav {
  display: flex;
  background-color: var(--nav-color);
  padding: 16px;
  justify-content: space-around;
}
.main-nav a {
  color: var(--white);
  text-decoration: none;
}
.main-nav a:hover {
  color: var(--nav-hover);
  font-weight: 600;
}
.cards {
  display: flex;
  gap: 1%;
}
.card {
  box-shadow: 2px 2px 10px var(--black);
  border-radius: 5px;
}
.card-work {
  width: 60%;
}
.card-location {
  width: 40%;
}
.card-courses {
  margin-top: 1%;
}

h2 {
  background-color: var(--light-blue);
  padding: 10px;
  margin-top: 0;
  border-radius: 5px 5px 0 0;
}
.courses-nav {
  display: flex;
  padding: 20px;
  justify-content: center;
  gap: 10px 10px;
  align-items: center;
}
.courses-nav a {
  background-color: var(--black);
  border-radius: 5px;
  color: var(--white);
  padding: 8px;
  min-width: 15%;
  cursor: pointer;
}
.courses-nav a:hover {
  color: var(--nav-hover);
}

.course-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 10px;
  justify-content: space-around;
  padding: 1%;
}
.course-item {
  background-color: var(--brown);
  border-radius: 5px;
  color: var(--white);
  padding: 18px;
  flex: 0 0 25%;
  font-size: 1.1rem;
}

/* Footer */
footer {
  background-color: var(--light-blue);
  padding: 1%;
}
.russian-flag {
  margin-bottom: -0.25rem;
}


@media (max-width: 700px) {
  h1 {
    font-size: 1.5rem;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card-work {
    width: 100%;
    margin-top: 1%;
  }
  .card-location {
    width: 100%;
    margin-top: 1%;
  }
  .course-items {
    display: flex;
    flex-direction: column;
  }
  /* Burger */
  .main-nav {
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .main-nav.open {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #menu {
    display: block;
  }
}
