@media (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    justify-content: space-between;
    align-items: end;
  }
  h1 {
    color: var(--black);
    font-size: 1.5rem;
    align-self: center;
  }
  h1::before {
    animation: none;
    border: none;
  }
  .card {
    box-shadow: none;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card-work {
    width: 100%;
    margin-top: 1%;
  }
  .card-location {
    width: 100%;
  }
  .course-items {
    display: flex;
    flex-direction: column;
  }

  /* Burger */
  #menu-button {
    display: block;
  }
  .main-nav {
    flex-direction: column;
  }
  .main-nav li a {
    display: block;
    padding: 0.5rem 2vw;
  }
  ul.main-nav {
    padding: 0px;
  }
  nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
  }
  nav ul {
    overflow: hidden;
  }
  nav.open {
    grid-template-rows: 1fr;
  }
}
